<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Notes App</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/font-awesome.css}">
</head>

<body>
	<section class="p-5 p-3 mb-2 bg-light text-dark">
		<div class="container ">
			<i class="fas fa-trash-alt"></i>
			<a class="btn btn-primary" href="#" th:href="@{/addPoll}">Add Polls</a>
			<h3 class="mt-2">Your polls</h3>
			<div class="card text-white bg-dark mb-3 p-2" style="max-width: 100%;">

				<div class="card-body" th:each="poll: ${pollsFetched}">
					<p class="card-text" th:text="${poll.title}"></p>

					<a th:href="@{/addPoll/{id}(id=${poll.id})}" class="btn btn-primary">Vote</a>
					<a th:href="@{/fetchPoll/{id}(id=${poll.id})}" class="btn btn-primary">Results</a>
					<a th:href="@{/delete/{id}(id=${poll.id})}" class="btn btn-danger">&#128473;</a>

					<hr>
				</div>
				
			
		</div>
		</div>

	</section>


</body>

</html>