<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Poll App</title>
	<link rel="stylesheet" th:href="@{/style1.css}">
	<link rel="stylesheet" th:href="@{/style.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

	
</head>

<body>
	<nav>
		<ul>
		  <li><a  th:href="@{/}"><i class="fa-solid fa-house"></i></a></li>
		</ul>
	</nav>
	<div class="vote" >
		<form method="post" th:each="poll: ${pollsFetched}" th:action="@{|/poll/${pollsFetched.id}/vote|}" th:object="${results}">
				<input type="hidden" th:field=*{id} >
				<div class="title">
					<h2 th:text="${poll.title}"></h2>

				</div>
			
		
				<div class="form-vote">
					<input type="radio" name="code" id="" class="radio" th:field="*{chosen}" th:value="${poll.option1}"
					>
					<div class="radio-radio"></div>
					<label for="" th:text="${poll.option1}"> Java </label>
	
				</div>
				<div class="form-vote">
					<input type="radio" name="code" id="" class="radio" th:field="*{chosen}"  th:value="${poll.option2}"
					>
					<div class="radio-radio"></div>
					<label for="" th:text="${poll.option2}"> Python </label>
				</div>
				<div class="form-vote">
					<input type="radio" name="code" id="" class="radio" th:field="*{chosen}" th:value="${poll.option3}"
					>
					<div class="radio-radio"></div>
					<label for="" th:text="${poll.option3}"> Go </label>
				</div>
				<div class="vote-button">
	
					<button type="submit">Vote</button>
				</div>
			</form>
				<div class="vote-details">
					<div class="totalVotes">
	
						<small th:text="'Total Points ' + ${totalPoints}"></small>
					</div>
					<div class="days-left">
	
						<small> 5 days left</small>
					</div>
				</div>
    </div>

</body>

</html>